$min-mobile-width: 320px;
$max-s-mobile-width: 480px;
$b-sm-max: 575.9px;
$tablet-width: 767.5px;
$b-md: 992px;
$desktop-width: 1024px;


@mixin bsm-down{
	@media (max-width: #{$tablet-width}){
		@content;
	}

}

@mixin bmd-down {
	@media (max-width: #{$b-md}) {
		@content;
	}
}

@mixin bsm-up {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}