<header>

	<div class="o-bg_menu">
		
	</div>

	<div class="o-topbar color-white">
		<div class="container">
			<div class="d-flex justify-content-between">
				<div class="o-topbar_logo">
					<img src="../media/logo.png" alt="">
					<h1 class="sr-only">KAR</h1>
				</div>

				<div class="o-topbarMenu d-flex justify-content-end">
					<nav class="o-topbarMenu_nav" data-mobile-menu-item="menu">
						<h1 class="sr-only">Main Navigation</h1>

						<ul>
							<li class="o-topbarMenu_navItem o-topbarMenu_navExtend">
								<a class="active" href="#">Accommodation</a>
								
								<input type="checkbox" id="button" />
								<label for="button" onclick><div class="o-topbarMenu_navBtn"></div></label>
								<ul class="o-topbarMenu_navDropdown">
									<li>
										<a href="#">Hotel</a>
									</li>
									<li>
										<a href="#">Villa</a>
										<ul>
											<li><a href="#">Villa Medulin</a></li>
											<li><a href="#">Villa Plava</a></li>
											<li><a href="#">Villa Long Name</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Private accomodation</a>
									</li>
								</ul>

							</li>
							<li class="o-topbarMenu_navItem"><a href="#">Contact</a></li>
							<li class="o-topbarMenu_navItem"><a href="#">About us</a></li>
							<li class="o-topbarMenu_navItem"><a href="#">Information</a></li>
						</ul>					

					</nav>

					<div class="o-topbarCL">

						<span class="o-topbarCurr">
							<a href="#">
								EUR 
								<i class="fa fa-caret-down" aria-hidden="true"></i>
							</a>	

							<ul>

								<li><a href="#">HRK</a></li>

								<li><a class="active" href="##">EUR</a></li>

								<li><a href="#">USD</a></li>

							</ul>
						</span>

						<span class="o-topbarLang">
							<a href="#">
								ENG 
								<i class="fa fa-caret-down" aria-hidden="true"></i>
							</a>

							<ul>

								<li><a href="#">GER</a></li>

								<li><a class="active" href="#">ENG</a></li>

								<li><a href="#">HR</a></li>

							</ul>

						</span>

					</div>

					<div class="o-topbarMobMenu hidden-md-up">
						<div class="o-topbarMobMenu_item p-3" data-mobile-menu-trigger="search">
							<img src="../media/search_icon.png" alt="">
						</div>
						<div class="o-topbarMobMenu_item p-3" data-mobile-menu-trigger="menu">
							<img src="../media/menu_icon.png" alt="">
						</div>
					</div>
				</div>					

			</div>
		</div>
	</div>

	<div class="o-slider">
		<img class="o-slider_img" src="../media/header_main.jpg" alt="" style="">

		<div class=" o-search" data-mobile-menu-item="search">
			<div class="container">
				<div class="row">
					<div class="col" >
						

						<form class="py-4" action="">
							<ul class="o-search_list d-flex flex-wrap my-2">

								<li class="o-search_item" >
									<div class="form-group">
										<label class="sr-only" for="location">Accomodation type</label>
										<select id="location" class="form-control form-control-lg" data-live-search="true">
											<option>Accomodation type</option>
										</select>
									</div>
								</li>

								<li class="o-search_item">
									<div class="form-group">
										<label class="sr-only" for="location">Location</label>
										<select id="location" class="form-control form-control-lg" data-live-search="true">
											<option>Location</option>
										</select>
									</div>
								</li>

								<li class="o-search_item">
									<div class="form-group">
										<label class="sr-only" for="location">CheckIn</label>
										<select id="location" class="form-control form-control-lg">
											<option>Check In</option>
										</select>
									</div>
								</li>

								<li class="o-search_item">
									<div class="form-group">
										<label class="sr-only" for="location">CheckOut</label>
										<select id="location" class="form-control form-control-lg">
											<option>Check Out</option>
										</select>
									</div>
								</li>

								<li class="o-search_item">
									<div class="form-group">
										<label class="sr-only" for="location">Guests</label>
										<select id="location" class="form-control form-control-lg">
											<option>Guests</option>
										</select>
									</div>
								</li>

								<li class="o-search_item">
									<div class="form-group">
										<label class="sr-only" for="search">Search</label>
										<button id="search" class="btn-lg btn_primary rounded-0 btn-block" type="submit">Search</button>
									</div>
								</li>
							</ul>
						</form>


					</div>
				</div>
			</div>

		</div>
	</div>
</header>