.o-slider {
	position: relative;
	height: 700px;

	@include bmd-down {
		height: 450px;
	}

	@include bsm-down {
		height: auto;
		min-height: 220px;
	}

	&_img {
		width: 100%;
		height: 100%;

		@include bsm-down {
			min-height: 276px;
		}	
	}

}