.o-topbar {

	/*	BACKGROUND	*/
	@extend %posAsy0;
	top: 0;

	height: 150px;
	z-index: 1;


	@include bmd-down {
		height: 85px;
		font-size: 0.9rem;
	}

	@include bsm-down {
		height: 70px;
	}


	/* LOGO */

	&_logo {
		img {
			margin-top: 1rem;

			@include bmd-down {
				margin-top: 20px;
				width: 68px;
				height: 42px;
				padding: 0;
			}

			@include bsm-down {
				margin-top: 10px;
			}
		}
	}


	/*  NAVIGATION  */

	&Menu_nav {
		padding-right: 15px;


		@include bsm-down {
			display: none;
			padding-right: 0;
		}


		&.active-mobile &Dropdown {
			width: 100%;

			ul {
				font-size: 1rem;
			}
		}

		&.active-mobile {
			@extend %posAsy0;
			top: 100%;
			display: inline;

			&:after {
				@extend %upBlueArrow;
				top: -10px;
				right: 20px;

			}

			&:before {
				@extend %cNposAs0;

				background-color: $bluen;
				opacity: 0.99;
				z-index: -1;
			}

			li {
				@include dB;
			}

		}

		&Item {
			position: relative;
			display: inline-block;

			a {
				display: block;
				padding: 35px 0.75rem 20px 0.75rem;
				@include bsm-up {
					opacity: 0.7;
				}

				@include bmd-down {
					padding: 22px 0.75rem 20px;
				}

				&:hover {
					opacity: 1;
				}
			}

			.active {
				opacity: 1;
			}

			.active:before {
				@extend %downWhiteArrow;

				@include bsm-down {
					display: hidden;
					opacity: 0;
				}

			}

		}

		/* DROPDOWN NAV */
		@include bsm-up {
			&Extend:hover &Dropdown {
				@include dB;
			}
		}

		&Extend {
			input[type=checkbox] {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}

			input[type=checkbox]:checked ~ .o-topbarMenu_navDropdown{
				position: relative;
				display: block;
			}
		}

		&Btn {
			z-index: 1;
			@include bsm-down {
				@include downWhiteArrowNoPos;
				top: 7px;
				right: 35px;
				margin: 20px;
			}
		}

		&Dropdown {
			position: absolute;
			top: 100%;
			display: none;
			width: 150px;
			font-size: 0.9em;
			box-shadow: 0px 4px 14px -1px rgba(0,0,0,0.75);

			a {
				padding: 8px 18px;
			}

			&:after {
				@extend %upBlueArrow;
				top: -7px;
				left: 50%;
				opacity: 0.9;
			}

			&:before {
				@extend %cNposAs0;
				background-color: $bluen;
				opacity: 0.9;
				z-index: -1;
			}

			/* mini nav */
			ul {

				background-color: $bluemn;

				li {
					@extend %dBmY-a;
					font-size: 0.8em;
					
					a {
						padding: 5px 25px;
					}

				}
			}
		}

	}

	/*  LANGUAGE BAR  */

	&CL {
		margin-top: 24px;
		padding-bottom: 15px;

		@include bmd-down {
			margin-top: 12px;
		}
		@include bsm-down {
			display: none;
		}
	}
	
	&Curr {
		padding-left: 15px;

		&:before {
			content: "";
			@extend %posAsy0;
			top: 7px;
			height: 30px;
			border-left: 1px solid $white;
			opacity: 0.4;

		}
	}


	&Curr ,
	&Lang {
		position: relative;
		display: inline-block;

		a {
			display: inherit;
			padding: 10px 15px 20px 15px;
			opacity: 0.7;

			&:hover {
				opacity: 1;
			}

			&.active {
				font-weight: 700;
				opacity: 1;
			}
		}

		&:hover ul{
			@include dB;
		}

		ul {
			position: absolute;
			top: 100%;
			right: 4px;
			width: 70px;
			display: none;
			color: white;
			font-size: 0.9em;

			box-shadow: 0px 4px 14px -1px rgba(0,0,0,0.75);
			
			a {
				opacity: 0.7;
			}

			&:after {
				@extend %upBlueArrow;
				top: -7px;
				right: 8px;

				opacity: 0.9;

			}
			
			&:before {
				@extend %cNposAs0;
				background-color: $bluen;
				opacity: 0.9;
				z-index: -1;
			}
			
			li {

				a {
					@include dB;
					padding: 6px 12px;
				}

			}

		}

	}


	/* MOBILE MENU */
	
	&MobMenu {
		&_item {
			position: relative;
			display: inline-block;
			
			img {
				width: 25px;
				height: 25px;
			}

			&.active-mobile:after {
				@extend %downWhiteArrow;
			}

			&:first-child {
				&.active-mobile:before {
					@extend %upBlueArrow;
					left: 50%;
					bottom: -1px;
					
				}
			}
		}
	}

	
}