
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  button,
  input,
  select,
  textarea {
    -webkit-tap-highlight-color: rgba(82, 82, 82, 0.1);
    
    &:hover {
      cursor: pointer;
    }
  }

}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: none;
}

html, body {
  height: 100%;
  font-family: $font-family-body;
  font-weight: $font-weight-normal;
  font-size: $body-font-size;
  // line-height: $default-line-height;
  letter-spacing: $default-letter-spacing;
  background-color: $white;
  color: $text-color;
}
